$white-color: #fff;
$black-color: #000;
$grey-color: #d9d9d9;
$green-color: #45bccb;
$red-color: #e76f51;
$base-radius: 0.5rem;

body.u-overflow {
    overflow: initial;
}

.main {
    padding-block: 1rem;
    padding-inline: 1rem;
    max-width: 75rem;
    margin-inline: auto;
}

.search {
    display: block;
    width: 100%;
    border-radius: $base-radius;
    border: 0.125rem solid $grey-color;
    background-color: $grey-color;
    background-image: url(../icons/search_icon.svg);
    background-repeat: no-repeat;
    background-position: 0.75rem center;
    margin-bottom: 2rem;
    padding-block: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
    font-family: inherit;
    font-size: inherit;
}

.filters {
    display: flex;
    gap: 1rem;
    background-color: $grey-color;
    padding-block: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    border-radius: $base-radius;
}

.categories {
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding-top: 0.75rem;
    }

    &__category {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        label {
            text-transform: capitalize;
        }
    }
}

.schools {
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding-top: 0.75rem;
    }

    &__school {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.educations {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1rem;
        margin-block: 2rem;
    }

    &__education {
        text-decoration: none;
        background-color: $green-color;
        border-radius: $base-radius;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.025);
        }

        &__img {
            display: block;
            max-width: 100%;
            border-top-left-radius: $base-radius;
            border-top-right-radius: $base-radius;
            aspect-ratio: 16 / 9;
        }

        &__title {
            color: $black-color;
        }

        &__school {
            font-weight: 400;
            color: $white-color;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            text-transform: capitalize;
        }

        &__label {
            display: inline-block;
            padding: 0.5rem;
            background-color: $red-color;
            color: $white-color;
            border-radius: $base-radius;
        }
    }
}

@media screen and (min-width: 75em) {
    .main {
        padding-inline: 0;
    }
}
