body {
    overflow: hidden;
}

.startScherm,
.stopScherm {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    z-index: 99;
    top: 0;
}
.hidden {
    display: none;
}

.startIntructions {
    position: absolute;
    margin: 0;
    top: 10%;
    width: 50rem;
    transform: translatex(70%);
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.startImage {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/img/generic-mouse.png) no-repeat;
    width: 5rem; /* Width of new image */
    height: 5rem; /* Height of new image */
    margin-left: 2rem;
    animation-name: mousemove, mousemovey;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.startTitle {
    font-size: 2rem;
}

.startTekst {
    font-size: 1.3rem;
}

.startButton {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 10px 15px;
    opacity: 1;
    border: none;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 2rem;
}

.startFooter {
    position: absolute;
    margin: 0;
    bottom: 8%;
    width: 40rem;
    transform: translatex(100%);
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.startFooterImage {
    max-width: 3rem;
    max-height: 3rem;
    transform: rotate(180deg);
}

.startFooterTekst {
    font-size: 1.2rem;
}

.startSettings {
    position: absolute;
    margin: 0;
    bottom: 5%;
    right: 0;
    width: 10rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.startSettingsImage {
    max-width: 3rem;
    max-height: 3rem;
    transform: rotate(145deg);
}

.startOptions {
    position: absolute;
    margin: 0;
    top: 8%;
    right: 0;
    width: 10rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.startOptionsImage {
    max-width: 3rem;
    max-height: 3rem;
    transform: rotate(20deg);
}

.topBar,
.bottomBar {
    position: fixed;
    width: 100%;
    display: block;
}

.topbar {
    top: 0;
}

.bottomBar {
    bottom: 0;
}

#place {
    margin-right: 5rem;
}

.progressBar {
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.infospot {
    border-radius: black;
    background-color: white;
    max-width: 300px;
    color: black;
    padding: 15px;
    overflow: hidden;
}

.infospot .title {
    color: black;
}

.title {
    font-size: 2rem;
    color: white;
}

.text {
    font-size: 1rem;
    color: white;
}

/* panorama */
.pan {
    width: 100vw;
    height: 100vh;
}

.menu,
.locatieInformatie {
    display: flex;
    margin-right: 20px;
}

.locatieInformatie {
    margin-left: 25px;
    margin-right: 0;
}
.menuBtn,
.infoBtn {
    background-color: #45bccb;
    color: white;
    padding: 15px;
    border-radius: 100%;
    border: none;
}

.infoBtn {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

.menuImg {
    display: block;
    max-width: 20px;
    height: 20px;
}
.footerTitle {
    color: orange;
}

.menuContent {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    list-style: none;
    margin-top: 12px;
}

.informatie {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 9px 11px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    bottom: 120%;
}

.menuBtn:hover {
    background-color: white;
}

.menu:hover .menuContent,
.locatieInformatie:hover .informatie {
    display: block;
}

:root {
    --header-min-height: 5vh;
    --subtle-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--header-min-height);
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 70%;
    justify-content: flex-end;
}

.header__title {
    display: flex;
    font-size: 2rem;
    color: #ffa500;
    padding: 1rem;
    flex-basis: 70%;
}

.button {
    border: none;
    padding: 1rem;
    border-radius: 100%;
    background-color: #45bccb;
    color: #fff;
    font-size: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

.pan {
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    padding-bottom: 0.75rem;
}

.progress__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.progress {
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 0.25rem;
    height: 2rem;
    width: 100%;
    flex-basis: 70%;
}

.progress__bar {
    background-color: #45bccb;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

/* Infospot Styling Rules */
.infospot {
    background-color: #fff;
    padding: 1rem;
    box-shadow: var(--subtle-shadow);
}

.infospot__title {
    color: #ffa500;
}

.infospot__content {
    color: #45bccb;
}

.achievements {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10%;
    right: 1%;
    transform: translateY(-10%);
    background-color: #fff;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;

    &--open {
        opacity: 1;
        pointer-events: all;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    &__achievement {
        position: relative;
        border-width: 0.2rem;
        border-style: solid;
        border-radius: 0.5rem;
        padding-block: 1rem;
        padding-inline: 0.5rem;
        text-align: center;

        &--unlocked {
            &::before {
                content: '\2713';
                display: block;
                position: absolute;
                top: -42%;
                right: -10%;
                font-size: 1.5rem;
                border-width: 0.2rem;
                border-style: solid;
                border-radius: 50%;
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
                padding-inline: 0.5rem;
            }
        }

        &:nth-child(odd) {
            border-color: #45bccb;
        }

        &--unlocked:nth-child(odd) {
            background-color: #45bccb;

            &::before {
                border-color: #45bccb;
                background-color: #45bccb;
            }
        }

        &:nth-child(even) {
            border-color: #ffa500;
        }

        &--unlocked:nth-child(even) {
            background-color: #ffa500;

            &::before {
                border-color: #ffa500;
                background-color: #ffa500;
            }
        }
    }
}

@keyframes mousemove {
    0% {
        margin-right: 0;
        background: url(/img/mouse-left-click.png) no-repeat;
    }
    30% {
        margin-right: 12rem;
    }
    60% {
        margin-right: -12rem;
    }
    80% {
        background: url(/img/mouse-left-click.png) no-repeat;
    }
    100% {
        margin-right: 0;
    }
}
