$header-min-height: 5vh;
$subtle-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);

body {
    overflow: hidden;
}

.startScherm {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;
    z-index: 99;
    top: 0;
}
.hidden {
    display: none;
}

.startIntructions {
    grid-area: 1 / 2;
    margin: 0;
    width: 50rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.startImage {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/img/generic-mouse.png) no-repeat;
    background-size: contain;
    width: 5rem; /* Width of new image */
    height: 5rem; /* Height of new image */
    animation-name: mousemove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.startTitle {
    font-size: 2rem;
}

.startTekst {
    font-size: 1.3rem;
}

.startButton {
    grid-area: 2 / 2;
    background-color: green;
    color: white;
    padding: 10px 15px;
    opacity: 1;
    border: none;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 2rem;
}

.startFooter {
    grid-area: 3 / 2;
    margin: 0;
    width: 40rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.startFooterImage,
.startSettingsImage,
.startOptionsImage {
    max-width: 3rem;
    max-height: 3rem;
}

.startFooterImage {
    transform: rotate(180deg);
}

.startSettingsImage {
    transform: rotate(145deg);
}

.startOptionsImage {
    transform: rotate(20deg);
}

.startFooterTekst {
    font-size: 1.2rem;
}

.startSettings {
    grid-area: 3 / 3;
    justify-self: end;
    align-self: end;
    margin: 0;
    width: 10rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.startOptions {
    grid-area: 1 / 3;
    justify-self: end;
    align-self: start;
    margin: 0;
    width: 10rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.topBar,
.bottomBar {
    position: fixed;
    width: 100%;
    display: block;
}

.topbar {
    top: 0;
}

.bottomBar {
    bottom: 0;
}

#place {
    margin-right: 5rem;
}

.progressBar {
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.infospot {
    border-radius: black;
    background-color: white;
    max-width: 300px;
    color: black;
    padding: 15px;
    overflow: hidden;
}

.infospot .title {
    color: black;
}

.title {
    font-size: 2rem;
    color: white;
}

.text {
    font-size: 1rem;
    color: white;
}

/* panorama */
.pan {
    width: 100vw;
    height: 100vh;
}

.menu,
.locatieInformatie {
    display: flex;
    margin-right: 20px;
}

.locatieInformatie {
    margin-left: 25px;
    margin-right: 0;
}
.menuBtn,
.infoBtn {
    background-color: #45bccb;
    color: white;
    padding: 15px;
    border-radius: 100%;
    border: none;
}

.infoBtn {
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

.menuImg {
    display: block;
    max-width: 20px;
    height: 20px;
}
.footerTitle {
    color: orange;
}

.menuContent {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    list-style: none;
    margin-top: 12px;
}

.informatie {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 9px 11px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    bottom: 120%;
}

.menuBtn:hover {
    background-color: white;
}

.menu:hover .menuContent,
.locatieInformatie:hover .informatie {
    display: block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $header-min-height;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 70%;
    justify-content: flex-end;
}

.header__title {
    display: flex;
    font-size: 2rem;
    color: #ffa500;
    padding: 1rem;
    flex-basis: 70%;
}

.button {
    border: none;
    padding: 1rem;
    border-radius: 100%;
    background-color: #45bccb;
    color: #fff;
    font-size: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $subtle-box-shadow;

    &:hover {
        animation-name: breathe;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &--reset {
        &:hover {
            animation-name: turn;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    &--quit {
        text-decoration-line: none;
        border-radius: unset;
        max-width: unset;
        max-height: unset;
        margin-top: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #ffa500;
        }
    }
}

.button:hover {
    cursor: pointer;
}

.pan {
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    padding-bottom: 0.75rem;
}

.progress__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.progress {
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 0.25rem;
    height: 2rem;
    width: 100%;
    flex-basis: 70%;
}

.progress__bar {
    background-color: #45bccb;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

/* Infospot Styling Rules */
.infospot {
    background-color: #fff;
    padding: 1rem;
    box-shadow: $subtle-box-shadow;
}

.infospot__title {
    color: #ffa500;
}

.infospot__content {
    color: #45bccb;
}

.achievements {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 15%;
    right: 1%;
    transform: translateY(-15%);
    background-color: #fff;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;

    &--open {
        opacity: 1;
        pointer-events: all;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__close {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        background-color: #45bccb;
        border-radius: 50%;
        transition: all 0.2s linear;
        cursor: pointer;

        &:hover {
            background-color: #ffa500;
        }
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    &__achievement {
        position: relative;
        border-width: 0.2rem;
        border-style: solid;
        border-radius: 0.5rem;
        padding-block: 1rem;
        padding-inline: 0.5rem;
        text-align: center;

        &--unlocked {
            &::before {
                content: '\2713';
                display: block;
                position: absolute;
                top: -42%;
                right: -10%;
                font-size: 1.5rem;
                border-width: 0.2rem;
                border-style: solid;
                border-radius: 50%;
                box-shadow: $subtle-box-shadow;
                padding-inline: 0.5rem;
            }
        }

        &:nth-child(odd) {
            border-color: #45bccb;
        }

        &--unlocked:nth-child(odd) {
            background-color: #45bccb;

            &::before {
                border-color: #45bccb;
                background-color: #45bccb;
            }
        }

        &:nth-child(even) {
            border-color: #ffa500;
        }

        &--unlocked:nth-child(even) {
            background-color: #ffa500;

            &::before {
                border-color: #ffa500;
                background-color: #ffa500;
            }
        }
    }
}

.end {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    &--open {
        opacity: 0.8;
        pointer-events: all;
    }

    &__content {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 2rem;
        max-width: 55ch;
        box-shadow: $subtle-box-shadow;
        transition: all 0.4s ease-in-out;
        z-index: 99;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__button {
        border: none;
        background: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: 400;
        color: #fff;
        padding: 1rem 4rem;
        cursor: pointer;

        &--red {
            background-color: #ff0000;
            border-style: solid;
            border-width: 0.25rem;
            border-color: #ff0000;
            border-radius: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #ff0000;
            }
        }

        &--green {
            background-color: #008000;
            border-style: solid;
            border-width: 0.25rem;
            border-color: #008000;
            border-radius: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #008000;
            }
        }
    }
}

.finish {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    &--open {
        opacity: 0.8;
        pointer-events: all;
    }

    &--end {
        opacity: 0;
        pointer-events: none;
    }

    &--continue {
        opacity: 0;
        pointer-events: none;
    }

    &__content {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 2rem;
        max-width: 55ch;
        box-shadow: $subtle-box-shadow;
        transition: all 0.4s ease-in-out;
        z-index: 99;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__button {
        border: none;
        background: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: 400;
        color: #fff;
        padding: 1rem 4rem;
        cursor: pointer;

        &--red {
            background-color: #ff0000;
            border-style: solid;
            border-width: 0.25rem;
            border-color: #ff0000;
            border-radius: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #ff0000;
            }
        }

        &--green {
            background-color: #008000;
            border-style: solid;
            border-width: 0.25rem;
            border-color: #008000;
            border-radius: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #008000;
            }
        }
    }
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding-block: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;

    &--open {
        opacity: 1;
        pointer-events: all;
    }

    &__title {
        text-align: center;
    }
}

@keyframes mousemove {
    0% {
        transform: translateX(0);
        background: url(/img/mouse-left-click.png) no-repeat;
        background-size: contain;
    }
    30% {
        transform: translateX(200%);
    }
    60% {
        transform: translateX(-200%);
    }
    80% {
        background: url(/img/mouse-left-click.png) no-repeat;
        background-size: contain;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes turn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (orientation: portrait) {
    .orientatie {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: landscape) {
    .orientatie {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    h1,
    h2,
    h3 {
        font-size: 1rem;
    }

    .startScherm {
        padding: 16px;
        row-gap: 12px;
    }

    .startIntructions,
    .startFooter {
        padding: 12px;
        width: 25rem;
        height: auto;
    }

    .startTitle {
        font-size: 18px;
    }

    .startTekst {
        font-size: 14px;
        text-align: center;
        margin: 0 12px;
    }

    .startImage {
        width: 2rem;
        height: 2rem;
    }

    .startSettings,
    .startOptions {
        width: 8rem;
        height: auto;
        padding: 12px;
    }

    .startIntructions > .startTekst {
        margin: 12px;
    }

    .startOptions > .startTekst {
        margin-top: 12px;
    }

    .startSettings > .startTekst,
    .startFooter > .startTekst {
        margin-bottom: 12px;
    }

    .startFooterImage,
    .startSettingsImage,
    .startOptionsImage {
        max-width: 2rem;
        max-height: 2rem;
    }

    .header {
        padding-top: 12px;
    }
    .header__title {
        font-size: 1rem;
        padding: 0;
    }

    .progress {
        height: 1.5rem;
        padding: 3px;
    }

    .infospot__content {
        font-size: 14px;
    }

    .button {
        max-width: 2rem;
        max-height: 2rem;

        &--quit {
            max-width: unset;
            max-height: unset;
        }
    }

    .progressBar {
        max-width: 300px;
        padding: 14px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    #place {
        margin: 0;
    }

    .infoBtn {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 16px;
    }
}
